

  <div class="jumbotron" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="center-block">
                  <h1><center> Concert Review </center></h1>

                <form action="/review/" method="post" name="search"><br>
                  <input type="text" class="form-control" placeholder="Search for..." name="Artist">
                  <input type="submit" class="btn btn-default" value="Go!" method="POST">
                </form>

                <a href="/add" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-plus"></span> Add New Review</a>
              </div>
            </div>
      </div>
            <div class="col-lg-3"></div>
    </div>
  </div>

{{#each x}}

<div class="panel panel-default col-lg-12" id="reviewdiv">
  <span class="artist-text"> Artist: {{Artist}} | </span>
  <span class="date-text"> Date: {{DateOfConcert}} | </span>
  Venue: {{Venue}}<hr>
  <p class="review-text"> {{Review}}</p><br>
  <p class="review-text"> {{Helpful}}</p><br>
  <form action="/helpful/" method="post" name="helpful"><br>
    <input type="hidden" class="form-control" value="{{Review}}" name="Review">
    <input type="hidden" class="form-control" value="+1" name="Helpful">
    <input type="submit" class="btn btn-default" value="Helpful" method="POST">
  </form>

  <a href="#">View More Reviews</a>
</div>

{{/each}}
