<div class="container" id="home">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="center-block" align="center">
                <center><img src="../assets/images/logo.png">
                    <h1>
                        <font color="black">TOUR REPORT</font>
                    </h1>
                </center>


                <form action="/review/" method="post" class="search-fix"><br>
                    <input type="text" class="form-control artist-input" placeholder="Search for..." name="Artist"><br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary select-artist"><i class="fa fa-search"></i> Search</button>
                        <a href="/add" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Write a Review</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>
</div>


</div>

<div class="container review-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">
                        <center class="next-review">Your Next Review Awaits</center>
                    </h1>
                </div>


                <div class="panel-body" align="center">
                    <form action="/api/" method="POST" name="rev">
                        <label for="">Artist</label>
                        <input type="text" class="form-control review-main" name="Artist"><br>

                        <label for="">Venue</label>
                        <input type="text" class="form-control review-main" name="Venue"><br>


                        <label for="">Date</label>
                        <input type="date" class="form-control review-main" name="Date"><br>

                        <div class="form-group">
                            <label for="textArea">Review</label>
                            <textarea class="form-control review-main" rows="5" id="textArea" name="Review"></textarea>
                        </div><br>

                        <input type="submit" class="btn btn-primary btn-md" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-lg-12">



            <div class="panel panel-primary">
                <div class="panel-heading">
                    <center>
                        <h1 class="panel-title"><strong>Latest Reviews</strong></h1>
                    </center>
                </div>
                <div class="panel-body">
                    {{#each x}}

                    <div class="panel panel-default">

                        <div class="panel-heading"> Artist: {{Artist}} | Date: {{date DateOfConcert}} | Venue: {{Venue}}
                        </div>

                        <div class="panel-body">
                            <h4>{{Review}}</h4>
                            <form action="/review/" method="post" class="search-fix"><br>
                                <div class="btn-group btn-group-xs" style="float: right;" role="group" aria-label="...">
                                    <input type="hidden" class="form-control artist-input" name="Artist" value="{{Artist}}"><br>
                                    <input type="submit" class="btn btn-primary select-artist" value="Read More Reviews" method="POST">
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>



<script src="/js/reviewSearch.js" type="text/javascript"></script>
